.card {
  background: linear-gradient(90deg, #7c3aed 0%, #db2777 55%, #f97316 100%);
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 2px;
  transition: all 0.1s linear;
  color: white;
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3);


}

.card:hover {
  transform: translateY(-3px);
}